h1{
    text-align: center;
}
h2{
    text-align: center;
}
li{
    display: inline-block;
    width: 20%;
    background: white;
    color:black;
}
li:hover{
    background: cyan;
}
body{
    background:navy;
    color: white;
}
p{
    width: 80%;
}

