h1{
    text-align: center;
}
h2.big{
    color:rgb(37, 14, 14);
}
li.menu{
    display: inline-block;
    width: 20%;
    background: white;
    color:black;
}
li.menu:hover{
    background: cyan;
}
body{
    background:gainsboro;
    color:black;
}
@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }
p{
    width: 70%;
}
p.menu1{
    text-align: left;
}
div.journey{
    background:whitesmoke;
}