
h1{
    text-align: center;
}
h2.big{
    color:rgb(46, 14, 14);
}

li.menu{
    display: inline-block;
    width: 20%;
    background:white;
    color:black;
}
li.menu:hover{
    background: cyan;
}

body{
    color: white;
    width: 90%;
    text-align: center;
    background-color:black;
}
  
  @media only screen and (max-width: 1000px) {
    body {
      background-color: lightslategrey;
    }

div.aside{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(233, 230, 187);
}
div.aside1{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(219, 189, 88);
}

div.aside2{
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: rgb(238, 175, 57);
}
div.links{
    text-align: center;
}
div.style1{
    padding-left: 20px;
    margin-left: 20px;
    background-color:rgb(207, 235, 240);
}
div.style2 {
    padding-left: 20px;
    margin-left: 20px;
    background-color:rgb(200, 226, 212);
}
div.style3{
    padding-left: 20px;
    margin-left: 20px;
    background-color:rgb(192, 179, 197);
}
div.style4{
    padding-left: 20px;
    margin-left: 20px;
    background-color:rgb(241, 205, 158);
}
span.style1 {
  color: rgb(63, 8, 8);  
}
